In [6]:
import pandas as pd
import random
import numpy as np
from sklearn.model_selection import train_test_split
data=pd.read_csv('cpdata.csv')

In [7]:
pp = {'wheat': 0,'mungbean': 1,'Tea':2,'millet':3,'maize':4,'lentil':5,'jute':6,'cofee':7,'cotton':8,'ground nut':9,'peas':10,'rubber':11,'sugarcane':12,'tobacco':13,'kidney beans':14,'moth beans':15,'coconut':16,'blackgram':17,'adzuki beans':18,'pigeon peas':19,'chick peas':20,'banana':21,'grapes':22,'apple':23,'mango':24,'muskmelon':25,'orange':26,'papaya':27,'watermelon':28,'pomegranate':29}      
data.previouscrop = [pp[item] for item in data.previouscrop]
data

      temperature   humidity        ph    rainfall       label  previouscrop
0       20.879744  82.002744  6.502985  202.935536        rice            23
1       21.770462  80.319644  7.038096  226.655537        rice            21
2       23.004459  82.320763  7.840207  263.964248        rice            28
3       26.491096  80.158363  6.980401  242.864034        rice             3
4       20.130175  81.604873  7.628473  262.717340        rice            21
...           ...        ...       ...         ...         ...           ...
3095    25.287846  89.636679  6.765095   58.286977  watermelon            18
3096    26.638386  84.695469  6.189214   48.324286  watermelon             8
3097    25.331045  84.305338  6.904242   41.532187  watermelon             4
3098    26.897502  83.892415  6.463271   43.971937  watermelon            15
3099    26.986037  89.413849  6.260839   58.548767  watermelon            13

[3100 rows x 6 columns]

In [8]:
label= pd.get_dummies(data.label).iloc[: , 1:]
data= pd.concat([data,label],axis=1)
data.drop('label', axis=1,inplace=True)

In [9]:
print('The data present in one row of the dataset is')
print(data.head(1))
train=data.iloc[:, 0:5].values
test=data.iloc[: ,5:].values

#Dividing the data into training and test set
X_train,X_test,y_train,y_test=train_test_split(train,test,test_size=0.3)

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

#Importing Decision Tree classifier
from sklearn.tree import DecisionTreeRegressor
clf=DecisionTreeRegressor()

#Fitting the classifier into training set
clf.fit(X_train,y_train)
pred=clf.predict(X_test)

from sklearn.metrics import accuracy_score
# Finding the accuracy of the model
a=accuracy_score(y_test,pred)
print("The accuracy of this model is: ", a*100)

#Using firebase to import data to be tested
from firebase import firebase
firebase =firebase.FirebaseApplication('https://croprotation-e9e6a-default-rtdb.firebaseio.com/')
tp=firebase.get('/Realtime',None)

ah=tp['Air Humidity']
atemp=tp['Air Temp']
shum=tp['Soil Humidity']
pH=tp['Soil pH']
rain=tp['Rainfall']
prev=20

l=[]
l.append(ah)
l.append(atemp)
l.append(pH)
l.append(rain)
l.append(prev)

predictcrop=[l]

# Putting the names of crop in a single list
crops=['wheat','mungbean','Tea','millet','maize','lentil','jute','cofee','cotton','ground nut','peas','rubber','sugarcane','tobacco','kidney beans','moth beans','coconut','blackgram','adzuki beans','pigeon peas','chick peas','banana','grapes','apple','mango','muskmelon','orange','papaya','watermelon','pomegranate']
cr='rice'

#Predicting the crop
predictions = clf.predict(predictcrop)
count=0
for i in range(0,30):
    if(predictions[0][i]==1):
        c=crops[i]
        count=count+1
        break;
    i=i+1
if(count==0):
    print('The predicted crop is %s'%cr)
else:
    print('The predicted crop is %s'%c)

#Sending the predicted crop to database
cp=firebase.put('/croppredicted','crop',c)

The data present in one row of the dataset is
   temperature   humidity        ph    rainfall  previouscrop  Black gram  \
0    20.879744  82.002744  6.502985  202.935536            23           0

   Chickpea  Coconut  Coffee  Cotton  ...  maize  mango  millet  muskmelon  \
0         0        0       0       0  ...      0      0       0          0

   orange  papaya  pomegranate  rice  watermelon  wheat
0       0       0            0     1           0      0

[1 rows x 35 columns]
The accuracy of this model is:  89.89247311827957
The predicted crop is mango

In [10]:
data=pd.read_csv('cpdata.csv')
data

      temperature   humidity        ph    rainfall       label  previouscrop
0       20.879744  82.002744  6.502985  202.935536        rice         apple
1       21.770462  80.319644  7.038096  226.655537        rice        banana
2       23.004459  82.320763  7.840207  263.964248        rice    watermelon
3       26.491096  80.158363  6.980401  242.864034        rice        millet
4       20.130175  81.604873  7.628473  262.717340        rice        banana
...           ...        ...       ...         ...         ...           ...
3095    25.287846  89.636679  6.765095   58.286977  watermelon  adzuki beans
3096    26.638386  84.695469  6.189214   48.324286  watermelon        cotton
3097    25.331045  84.305338  6.904242   41.532187  watermelon         maize
3098    26.897502  83.892415  6.463271   43.971937  watermelon    moth beans
3099    26.986037  89.413849  6.260839   58.548767  watermelon       tobacco

[3100 rows x 6 columns]